<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
            integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        >
        <link rel="shortcut icon" href="pics/favicon-32x32.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        >
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
        <link rel="stylesheet" href="css/style.css">
        <title>Sardaria Tours & Travels</title>
    </head>
    <body style="background-color: #E2E2E8;">
    </html>





<div id="qoqjBmOjmMCg2gtcZ6H37" style="overflow: hidden !important;">
    <div class="bpk-content-bubble_bpk-content-bubble__wrapper__NmMzN bpk-content-bubble__wrapper--with-pointer HeroImage_Hero__MTY1Y"
        style="background-color: #002540;">
        <div class="bpk-content-bubble_bpk-content-bubble__container__NTFlM">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                <div class="container-fluid">
                    <div class="logo-container">
                        <div class="specialdiv">
                            <li>
                                <div class="logo-holder logo-4">
                                    <a href="">
                                        <h3 style="text-shadow: 3px 3px #000;">Sardaria</h3>
                                        <p>Tours & Travels</p>
                                    </a>
                                </div>
                            </li>
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        </ul>
                        <form class="d-flex">
                            <section>
                                <nav class="navbar navbar-light">
                                    <div class="container">
                                        <form class="d-flex">
                                            <div class="m-1">
                                                <!-- Button trigger modal login -->
                                                <button type="button" style="color: white;" class="btn btn4"
                                                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    Log In
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Log
                                                                    In</h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="mb-3">
                                                                    <label for="exampleFormControlInput1"
                                                                        class="form-label">Email
                                                                        address</label>
                                                                    <input type="email" class="form-control"
                                                                        id="exampleFormControlInput1">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="inputPassword"
                                                                        class="form-label">Password</label>
                                                                    <div class="col-sm-12">
                                                                        <input type="password" class="form-control"
                                                                            id="inputPassword">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Cancel</button>
                                                                <button type="button" class="btn btn-primary">Log
                                                                    In</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-1">
                                                <!-- Button trigger modal signup-->
                                                <button type="button"
                                                    style="background-color: #12214a; border: 1px solid white;"
                                                    class="btn btn-primary btn5" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal2">
                                                    Sign Up
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal2" tabindex="-1"
                                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Sign
                                                                    Up</h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body row">
                                                                <form class="row g-3">
                                                                    <div class="col-md-6">
                                                                        <label for="inputCity"
                                                                            class="form-label">First Name</label>
                                                                        <input type="text" class="form-control"
                                                                            id="inputCity">
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label for="inputCity"
                                                                            class="form-label">Last Name</label>
                                                                        <input type="text" class="form-control"
                                                                            id="inputCity">
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label for="inputEmail4"
                                                                            class="form-label">Email</label>
                                                                        <input type="email" class="form-control"
                                                                            id="inputEmail4">
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label for="inputPassword4"
                                                                            class="form-label">Password</label>
                                                                        <input type="password" class="form-control"
                                                                            id="inputPassword4">
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <label for="inputAddress"
                                                                            class="form-label">Address</label>
                                                                        <input type="text" class="form-control"
                                                                            id="inputAddress"
                                                                            placeholder="1234 Main St">
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <label for="inputAddress2"
                                                                            class="form-label">Address 2</label>
                                                                        <input type="text" class="form-control"
                                                                            id="inputAddress2"
                                                                            placeholder="Apartment, studio, or floor">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <label for="inputCity"
                                                                            class="form-label">City</label>
                                                                        <input type="text" class="form-control"
                                                                            id="inputCity">
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Cancel</button>
                                                                <button type="button"
                                                                    class="btn btn-primary">Register</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </nav>
                        </form>
                    </div>
                </div>
            </nav>
            </div>
            </div>
            </div>
            


<div style="padding-top: 50px; padding-left: 20px" class="jsx-f9b28086f017b495">
<div class="jsx-f9b28086f017b495 search-results-header__info">
    <div class="jsx-1612553828 hspace"><span
            class="Stamp_stamp__f_B0Y Stamp_stamp--grey__DkrEA Stamp_stamp--medium__A1f6d Stamp_stamp--border-radius-small__jrGVV">One Way</span><span
            class="Stamp_stamp__f_B0Y Stamp_stamp--grey__DkrEA Stamp_stamp--medium__A1f6d Stamp_stamp--border-radius-small__jrGVV"><%= departingDateRoundTrip %></span><span
            class="Stamp_stamp__f_B0Y Stamp_stamp--grey__DkrEA Stamp_stamp--medium__A1f6d Stamp_stamp--border-radius-small__jrGVV"><%= body2.data.passengers.length %> 
            Passengers</span><span
            class="Stamp_stamp__f_B0Y Stamp_stamp--grey__DkrEA Stamp_stamp--medium__A1f6d Stamp_stamp--border-radius-small__jrGVV" style="text-transform: capitalize;">Business</span>
    </div>
</div>
<h1 class="jsx-979628033 text heading offer-request-title text--medium text--tight text--wide"><%= fromRoundTrip %><div
        class="jsx-230f8d1e01477aa1 offer-request-title--icon"><svg width="24" height="24" viewBox="0 0 24 24"
            aria-label="sync" class="jsx-889422082 ff-icon">
            <path
                d="M17 13L15.575 11.6L18.175 9H3V7H18.175L15.575 4.4L17 3L22 8L17 13ZM7 21L2 16L7 11L8.425 12.4L5.825 15H21V17H5.825L8.425 19.6L7 21Z">
            </path>
        </svg></div><%= toRoundTrip %></h1>

    </div>

<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@      OFFERS       @@@@@@@@@@@@@@@@@@@@@@@@@@ -->




<div style="padding: 20px;">

   
    <h1><%= error2 %> </h1>


</div>

    <!-- @@@@@@@footer@@@@@@@@@ -->
    <footer>
        <div class="top_header">
            <!-- <section>
                <span><i class="fa fa-map-marker"></i></span>
                <span>Street, full address, state/province, country, pincode</span>
            </section> -->
            <section>
                <span><i class="fa fa-phone"></i></span>
                <span>(0333) 451 3334</span>
                <span>|</span>
                <span>(0321) 4414 707</span>
            </section>
            <section>
                <span><i class="fa fa-envelope"></i></span>
                <span>sardariatravels@gmail.com</span>
            </section>
        </div>
        <span class="border-shape"></span>
        <div class="bottom_content">
            <section class="">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-telegram"></i></a>
            </section>
            <!-- <section>
            <a href="#">Home</a>
            <a href="#">About us</a>
            <a href="#">Order</a>
            <a href="#">Retail</a>
            <a href="#">Member</a>
            <a href="#">Contact Us</a>
        </section> -->
        </div>
        <div class="copyright">
            Copyright © 2022 sardariatours&travels - All rights reserved
        </div>
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- <script src="js/app.js"></script> -->

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>